.button {
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
  }
  .button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff78;
    backdrop-filter: blur(1px);
    color: black;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
  font-weight: 700;
  }